# Auto detect text files and perform LF normalization
* text=auto
*.ipynb filter=nbstripout strip-init-cells=true --drop-empty-cells=true strip-metadata=true removed_keys=kernelspec,execution_count,outputs,language_info
